   /* Container holding the image and the text */
   .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
   
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
   
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
   
  }
  
  /* Centered text */
  .centered {
    position: absolute;
 
    transform: translate(-50%, -50%);
  }
